/* Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    margin: 2rem;
    padding: 11rem;
    padding-top: -25REM;
    padding-top: -1rem;
    background-image:  linear-gradient(135deg,#9708CC, #43CBFF,#9708CC, #43CBFF );
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container{
    
    background: #fff;
    height: 50px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
    /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   text-shadow:  0px 0px 6px rgba(255,255,255,.3),
              -4px -4px 6px rgba(116, 125, 136, .2);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover > .search-input{
    width: 400px;
}

.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 400px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;

}

.search-container .search-btn .fas{
    color: #8bbd5c;
}

/* .search-container:hover{
  animation: hoverShake 0.15s linear 3;
} */
.search-container .btn{
    padding: 4px;
    border-radius: 50%;
    background-image: linear-gradient(135deg,#08bccc, #43CBFF,#0ba2d8, #43CBFF );
    transition: all 0.4s ease;
    box-sizing: border-box;
}
